body {
	background: #efefef;
	font-family: "Lucida Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
}
img {
	border: 0;
	vertical-align: text-bottom;
}
a {
	color: #02c;
	text-decoration: none;
}
p#breadcrumbs a {
	color: #000;
}
br.cb {
	clear: both;
}
h1 {
	font-size: 14px;
}
h2 {
	font-size: 14px;
}
#header, #main {
	padding: 10px 20px;
}
#inner {
	padding: 10px;
}
#main {
	padding-top: 0;
}
#header, #header a {
	background: #333;
	color: #fff;
}
#header h1 {
	color: #fff;
	background: #333;
}
#header p {
	float: right;
	margin: 10px;
}
#contents h1 {
	background: #555;
	color: #fff;
	padding: 10px;
	margin-bottom: 0;
}
#wrapper {
	width: 100%;
}
#contents {
	background: #fff;
}