ul#modules {
	list-style-type: none;
	padding: 0;
}
ul#modules li {
	margin: 0 10px 10px 0;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
}
ul#modules li a {
	display: block;
	padding: 10px 20px;
	float: left;
	border: 1px solid transparent;
}
ul#modules li a:hover {
	background: #eef;
	border: 1px solid #ddd;
}